<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zto.dao.AccountDao">
	<insert id="insert" parameterType="com.zto.model.Account">
		INSERT INTO
		accounts
		(account_number,address,age,balance,city,email,employer,firstname,gender,lastname,state)
		VALUES (
		#{account_number}, #{address},#{age},
		#{balance},
		#{city},#{email},
		#{employer}, #{firstname},#{gender},
		#{lastname},#{state}
		)
	</insert>
	<select id="selectList" parameterType="hashMap" resultType="com.zto.model.Account">
		SELECT * FROM accounts where account_number &gt;= #{begin} and
		account_number
		&lt;= #{end}
		ORDER BY account_number ASC
	</select>
</mapper>